.product {
  &__header {
    padding-right: 30px;
    position: relative;
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    font-family: $fontPlayfairDisplay;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
    color: #222;
  }

  &__share {
    border: 0;
    outline: transparent;
    display: block;
    background: transparent;
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 4px;
    right: -7px;
    color: #999;
    transition: 0.3s all ease;
    cursor: pointer;

    .icon {
      width: 16px;
      height: 16px;
    }

    &:hover {
      color: #E3AA55;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    margin: 12px 0  20px;

    .ru {
      font-family: "Roboto";
    }
  }

  &__btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 25px;

    .icon--basket {
      margin-top: -3px;
    }
  }
}

.product-slider-thumbnails,
.product-slider-thumbnails-wrap {
  display: none;
}

.product-slider {
  overflow: visible;

  &__img {
    display: block;
    width: 100%;
  }

  .swiper-pagination {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 12px 0 25px;
    column-gap: 20px;
    row-gap: 15px;

    .swiper-pagination-bullet {
      margin: 0;
      width: 20px;
      height: 20px;
      border: 1px solid transparent;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: transparent;
      opacity: 1;
      border-radius: 50%;
      transition: 0.3s border ease;

      &:after {
        background: #E3AA55;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: block;
        content: "";
      }

      &.swiper-pagination-bullet-active {
        border-color: #9D8F80;
      }
    }
  }
}

.product-m-info {
  padding: 0 0 10px;
  margin: 0 0 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5px;
  border-bottom: 1px solid #E0E0E0;

  &__item {
    font-size: 12px;
    line-height: 1.33333;
    color: #222;
  }
}

.to-order {
  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.30769;
    color: #e53232;
  }

  &__term {
    font-size: 12px;
    color: #222;
    line-height: 1;

    .icon {
      display: none;
    }
  }
}

.product-info {
  padding: 0;
  margin: 0 0 25px;
  list-style: none;

  &__item {
    font-size: 12px;
    line-height: 1;
    color: #444;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
      color: #ae8547;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media(min-width: 768px) {
  .product {
    &__header {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 30px;
      line-height: 1.16667;
      color: #333;
    }

    &__hero {
      display: flex;
      flex-wrap: wrap;
    }

    &__slider {
      width: 398px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__main-info {
      width: calc(100% - 398px);
      padding-left: 30px;
    }

    &__price {
      margin-top: 9px;
    }

    &__btn-group {
      margin-bottom: 30px;
    }
  }

  .product-slider-thumbnails-wrap {
    position: relative;
    display: block;
    padding-block: 19px;
    margin-right: 12px;
  }

  .product-slider-thumbnails {
    display: block;
    width: 50px;
    height: 236px;

    .swiper-slide {
      width: 50px;
      height: 50px;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("#{$rootUrl}product-slider-thumbnails-active.svg") no-repeat center;
        background-size: cover;
        display: block;
        content: "";
        opacity: 0;
      }

      &.swiper-slide-thumb-active {
        &:before {
          opacity: 1;
        }
      }
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__arrow {
      position: absolute;
      left: 50%;
      cursor: pointer;
      color: #999;
      transition: 0.3s color ease;
      padding: 5px;
      transform: translateX(-50%);
      
      &:hover {
        color: #333;
      }

      &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.2;
      }

      .icon {
        width: 16px;
        height: 16px;
        display: block;
      }

      &--prev {
        top: -5px;
      }

      &--next {
        bottom: -5px;
      }
    }
  }

  .product-slider {
    width: calc(100% - 62px);
    overflow: hidden;

    .swiper-pagination {
      display: none;
    }
  }

  .to-order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__label {
      margin-right: auto;
    }
  }


}

@media(min-width: 1024px) {
  .product {
    &__header {
      margin-bottom: 35px;
      padding-right: 50px;
    }

    &__title {
      font-size: 36px;
      line-height: 1.13889;
      color: #222;
    }

    &__share {
      width: 41px;
      height: 41px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #BBBBBB;
      border-radius: 50%;
      right: 0;
      top: 0;

      .icon {
        margin-left: -1px;
      }
    }

    &__slider {
      width: 500px;
    }

    &__main-info {
      width: calc(100% - 500px);
      padding-left: 50px;
    }

    &__price {
      margin: 6px 0 24px;
      font-size: 25px;
    }

    &__btn-group {
      margin-bottom: 32px;
      flex-direction: row;
      column-gap: 15px;

      & > * {
        width: calc(50% - (15px /2));
      }
    }
  }

  .product-slider-thumbnails-wrap {
    margin-right: 20px;
  }

  .product-slider-thumbnails {
    width: 70px;
    height: 325px;

    .swiper-slide {
      width: 70px;
      height: 70px;
      position: relative;

      &:before {
        background-image: url("#{$rootUrl}product-slider-thumbnails-active-lg.svg");
      }
    }

    &__arrow {
      &--prev {
        top: -15px;
      }

      &--next {
        bottom: -15px;
      }
    }
  }

  .product-slider {
    width: calc(100% - 90px);
  }

  .product-m-info {
    padding: 0 0 15px;
    flex-direction: row;

    &__item {
      font-size: 13px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &:not(:last-child):after {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #222;
        margin: 0 10px;
        content: "";
      }
    }
  }

  .to-order {
    &__label {
      font-size: 14px;
      line-height: 1.28571;
    }

    &__term {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 5px;

      .icon {
        width: 15px;
        height: 15px;
        display: block;
        color: #333333;
      }
    }
  }

  .product-info {
    &__item {
      font-size: 13px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
}

@media(min-width: 1280px) {
  .product {
    &__slider {
      width: 670px;
    }

    &__main-info {
      width: calc(100% - 670px);
      padding-left: 70px;
    }

  }

  .product-slider-thumbnails-wrap {
    margin-right: 30px;
  }

  .product-slider {
    width: calc(100% - 100px);
  }
}