{% extends 'base.html.twig' %}
{% block title %}markup rig{% endblock %}
{% block body %}
    <div class="content-width">
        <h1>
            Index page test 3
        </h1>
    </div>
{% endblock %}

