{% extends 'layout.html.twig' %}
{% block title %}markup rig{% endblock %}

{% block page %}
    <div class="main-container">
        <h1>Home</h1>
        <a href="/products/product.html">product</a><br>
        <a href="/ui.html">ui</a>
    </div>
{% endblock %}

