{% extends 'layout.html.twig' %}
{% block title %}markup rig{% endblock %}

{% block page %}
    <div class="main-container">
        <h1>ui</h1>
        <h2>Buttons</h2>
        <table>
            <tr>
                <th>Class</th>
                <th>Btn</th>
            </tr>
            <tr>
                <td>btn btn--primary font-700</td>
                <td><a href="" class="btn btn--primary font-700">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--outline-primary font-700</td>
                <td><a href="" class="btn btn--outline btn--outline-primary font-700">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--primary font-700 btn--md</td>
                <td><a href="" class="btn btn--primary font-700 btn--md">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--primary font-700 btn--sm</td>
                <td><a href="" class="btn btn--primary font-700 btn--sm">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--outline btn--outline-primary  btn--sm</td>
                <td><a href="" class="btn btn--outline btn--outline-primary btn--sm">Button</a></td>
            </tr>
            <tr>
                <td>"btn btn--secondary font-700</td>
                <td><a href="" class="btn btn--secondary font-700">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--outline btn--outline-secondary font-700</td>
                <td><a href="" class="btn btn--outline btn--outline-secondary font-700">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--dark font-700</td>
                <td><a href="" class="btn btn--dark font-700">Button</a></td>
            </tr>
            <tr>
                <td>btn btn--outline btn--outline-dark font-700</td>
                <td><a href="" class="btn btn--outline btn--outline-dark font-700">Button</a></td>
            </tr>
        </table>
        <h2>Icons</h2>
        <table>
            <tr>
                <th>name</th>
                <th>icon</th>
            </tr>
            <tr>
                <td>#menu</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#menu"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#pen-edit</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#pen-edit"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#basket</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#basket"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#share</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#share"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#phone-circle</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#phone-circle"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#arrow-left</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#arrow-left"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#arrow-right</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#arrow-right"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#check</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#check"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#angle-left</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#angle-left"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#angle-right</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#angle-right"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#angle-up</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#angle-up"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#angle-down</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#angle-down"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#inst</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#inst"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#youtube</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#youtube"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#vk</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#vk"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#fb</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#fb"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#search</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#search"></use>
                    </svg>
                </td>
            </tr>
            <tr>
                <td>#menu-small</td>
                <td>
                    <svg style="width: 20px;height: 20px;" class="icon">
                        <use href="/img/sprite.svg#menu-small"></use>
                    </svg>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

