<div class="feedback">
	<div class="feedback__inner">
		<h3 class="feedback__title">Оставьте заявку <span>и мы вам перезвоним</span></h3>
		<div class="feedback__content">
			<div class="form-row">
				<input type="text" class="form-row__input" placeholder="Как к вам обращаться*" required>
			</div>
			<div class="form-row">
				<input type="tel" class="form-row__input phone-mask" placeholder="Телефон*" required>
			</div>
			<div class="feedback__content-bottom">
				<div class="form-row">
					<textarea class="form-row__textarea" placeholder="Ваш вопрос*"></textarea>
				</div>
				<div class="feedback__footer">
					<div class="feedback__agreement">
						<div class="checkbox">
							<input type="checkbox" class="checkbox__input">
							<span>
								<svg class="icon">
									<use href="/img/sprite.svg#check"></use>
								</svg>
							</span>
						</div>
						<div class="feedback__agreement-text">
							Я согласен c <a href="">Политикой конфиденциальности</a>
						</div>
					</div>
					<div class="feedback__submit">
						<button class="btn btn--primary btn--md">Отправить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>