<header class="header">
	<div class="header__top">
		<div class="main-container">
			<button class="header__menu-btn">
				<svg class="icon icon--menu">
					<use href="/img/sprite.svg#menu"></use>
				</svg>
			</button>
			<a href="/" class="header__logo">
				<img src="/img/logo.webp" alt="logo">
			</a>
			<div class="header__description">Дизайн-студия интерьеров <br /> бильярдных и игровых комнат</div>
			<a href="tel:8 (800) 500 29 40" class="header__phone">8 (800) 500 29 40</a>
			<a href="" class="btn btn--outline btn--outline-primary btn--sm header__btn-feedback">Заказать звонок</a>
			<div class="header__actions">
				<div class="header__sign-in"><a href="">Войти</a> / <a href="">Регистрация</a></div>
				<ul class="actions">
					<li class="">
						<a href="" class="actions__btn">
							<svg class="icon icon--pen-edit">
								<use href="/img/sprite.svg#pen-edit"></use>
							</svg>
						</a>
					</li>
					<li class="">
						<a href="" class="actions__btn">
							<svg class="icon icon--basket">
								<use href="/img/sprite.svg#basket"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__menu">
		<div class="main-container">
			<ul class="menu">
				<li class="menu__item">
					<a href="" class="menu__link">
						<svg class="icon icon--menu-small">
							<use href="/img/sprite.svg#menu-small"></use>
						</svg>
						<span>Каталог товаров</span>
					</a>
				</li>
				<li class="menu__item"><a href="" class="menu__link">Проекты</a></li>
				<li class="menu__item"><a href="" class="menu__link">Как купить</a></li>
				<li class="menu__item"><a href="" class="menu__link">Новости</a></li>
				<li class="menu__item"><a href="" class="menu__link">О компании</a></li>
				<li class="menu__item"><a href="" class="menu__link">Сотрудничество</a></li>
				<li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
			</ul>

			<div class="header__search">
				<button class="header__search-btn">
					<svg class="icon">
						<use href="/img/sprite.svg#search"></use>
					</svg>
					<span>Поиск</span>
				</button>
			</div>
		</div>
	</div>
</header>