@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: "Gotham Pro";
  src: url("#{$rootUrlFonts}GothamPro/GothamPro-Bold.woff2") format("woff2"),
    url("#{$rootUrlFonts}GothamPro/GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("#{$rootUrlFonts}GothamPro/GothamPro.woff2") format("woff2"),
    url("#{$rootUrlFonts}GothamPro/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("#{$rootUrlFonts}GothamPro/GothamPro-Light.woff2") format("woff2"),
    url("#{$rootUrlFonts}GothamPro/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("#{$rootUrlFonts}GothamPro/GothamPro-Medium.woff2") format("woff2"),
    url("#{$rootUrlFonts}GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("#{$rootUrlFonts}PlayfairDisplay/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("#{$rootUrlFonts}PlayfairDisplay/PlayfairDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
