{% extends 'layout.html.twig' %}
{% block title %}markup rig{% endblock %}

{% block page %}
    <div class="main-container">
        <ol class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">>Каталог</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">>Мебель</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">>Кресла</a></li>
            <li class="breadcrumbs__item">Мягкое кресло SKY ONE фабрики CIRCU</li>
        </ol>
        <div class="product">
            <div class="product__header">
                <h1 class="product__title">Мягкое кресло SKY ONE фабрики CIRCU</h1>
                <button class="product__share">
                    <svg class="icon">
                        <use href="/img/sprite.svg#share"></use>
                    </svg>
                </button>
            </div>
            <div class="product__hero">
                <div class="product__slider">
                    <div class="product-slider-thumbnails-wrap">
                        <div class="product-slider-thumbnails swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-1.png" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-2.png" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-3.png" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-4.png" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-2.png" alt="" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="product-slider-thumbnails__img" src="/img/product-slider/product-slider-3.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="product-slider-thumbnails__arrow product-slider-thumbnails__arrow--next">
                            <svg class="icon">
                                <use href="/img/sprite.svg#angle-down"></use>
                            </svg>
                        </div>
                        <div class="product-slider-thumbnails__arrow product-slider-thumbnails__arrow--prev">
                            <svg class="icon">
                                <use href="/img/sprite.svg#angle-up"></use>
                            </svg>
                        </div>
                    </div>


                    <div class="product-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-1.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-2.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-3.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-4.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-2.png" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img class="product-slider__img" src="/img/product-slider/product-slider-3.png" alt="" />
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
                <div class="product__main-info">
                    <ul class="product-m-info">
                        <li class="product-m-info__item">Код товара: IC-73131</li>
                        <li class="product-m-info__item">Ценовой диапазон: Премиум</li>
                    </ul>
                    <div class="to-order">
                        <div class="to-order__label">Под заказ</div>
                        <div class="to-order__term">
                            <svg class="icon">
                                <use href="/img/sprite.svg#clock"></use>
                            </svg>
                            <span>Срок производства: 70 дней</span>
                        </div>
                    </div>
                    <div class="product__price">1 392 869 <span class="ru">₽</span> / 15 957 €</div>
                    <div class="product__btn-group">
                        <a href="" class="btn btn--dark font-700">
                            добавить В корзину
                            <svg class="icon icon--basket">
                                <use href="/img/sprite.svg#basket"></use>
                            </svg>
                        </a>

                        <a href="" class="btn btn--outline btn--outline-dark font-700">состав по предметам</a>
                    </div>
                    <ul class="product-info">
                        <li class="product-info__item">Фабрика — <a href="">CIRCU</a></li>
                        <li class="product-info__item">Предмет — Кресло</li>
                        <li class="product-info__item">Страна производства — Португалия</li>
                        <li class="product-info__item">Ценовой сегмент — Средне-высокий</li>
                        <li class="product-info__item">Стиль — <a href="">Современный</a></li>
                        <li class="product-info__item">Отделка — Лак матовый или глянцевый</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
{% endblock %}

{% block beforeFooter %}
    {% include 'partials/feedback.html.twig' %}
    {% include 'partials/brands.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/inputmask.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.brands .brands-slider', {
                slidesPerView: 'auto',
                spaceBetween: 40,
                autoplay: {
                    delay: 10000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.brands .brands-slider__arrow--next',
                    prevEl: '.brands .brands-slider__arrow--prev',
                },
                breakpoints: {
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 20,
                    },
                    1280: {
                        slidesPerView: 6,
                        spaceBetween: 20,
                    }
                }
            });

            // phone input mask
            const phoneInput = document.querySelector('.phone-mask');
            const maskOptions = {
                mask: '+7 (999) 999-99-99',
                placeholder: '_',
                showMaskOnHover: false,
                showMaskOnFocus: true
            };
            Inputmask(maskOptions).mask(phoneInput);

            // Initialize Swiper for the thumbnails
            const thumbsSlider = new Swiper('.product-slider-thumbnails', {
                watchSlidesProgress: true,
                direction: 'vertical',
                slidesPerView: 4,
                spaceBetween: 12,
                loop: true,
                navigation: {
                    nextEl: '.product-slider-thumbnails__arrow--next',
                    prevEl: '.product-slider-thumbnails__arrow--prev',
                },
                breakpoints: {
                    1024: {
                        spaceBetween: 15
                    }
                }
            });

            // Initialize Swiper for the main slider
            const mainSlider = new Swiper('.product-slider', {
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                loop: true,
                thumbs: {
                    swiper: thumbsSlider,
                },
            });


        });
    </script>
{% endblock %}

